* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  margin: 0;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-image {
  width: 520px;
  height: 240px;
}

.logo {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.header {
  display: flex;
  flex-direction: column;
  padding: 0 230px 60px;
  background-color: #1f2937;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.header-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.button {
  width: fit-content;
  background-color: #3882f6;
  color: #e5e7eb;
  border-radius: 6px;
  padding: 8px 24px;
  font-size: 18px;
  font-weight: 800;
}

.text {
  font-size: 18px;
  color: #e5e7eb;
  padding: 12px 0;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.links {
  display: flex;
  gap: 24px;
}

.information-img {
  width: 165px;
  height: 165px;
  border-radius: 25px;
}

.information-container {
  text-align: center;
  padding-bottom: 60px;
}

.information-header {
  font-size: 36px;
  font-weight: 800;
  padding: 36px;
  color: #1f2937;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 60px 0;
}

.card {
  width: 200px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 370px;
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
  width: 770px;
}

.quotee {
  display: flex;
  justify-content: flex-end;
  width: 700px;
  font-size: 18px;
  font-weight: 800;
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 270px;
}

.cta-card {
  display: flex;
  justify-content: space-between;
  background-color: #3882f6;
  border-radius: 12px;
  padding: 48px 72px;
  font-size: 24px;
  width: 800px;
}

.cta-title {
  font-size: 24px;
  font-weight: 800;
  color: #f9faf8;
}

.cta-text {
  font-size: 18px;
  color: #efe7eb;
}

.cta-button {
  background-color: #3882f6;
  border-style: solid;
  border: 2px white solid;
  color: #f9faf8;
  width: 120px;
  border-radius: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: #e5e7eb;
  height: 100px;
}
